@import "tailwindcss";

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
